* {
  box-sizing: border-box;
}
body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  background-image: url("../images/rr7.jpg");
  background-position: center;
  background-size: auto;
}
html,body{
  overflow-x: hidden;
  }
.mainHeader{
  
  background-size:auto;
  height: 247px;
  background: linear-gradient(-70deg, #fa7c30 30%, rgba(0, 0, 0, 0) 30%), url('../images/bg911.jpg');
  text-align: center;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

.header1 img {
  float: left;
  width: 150px;
  height: 100px;
  margin-left: 70px;
 
}

.header1 h1 {
  position: relative;
  top: 50px;
  right: 90px;
  
}

.mainNav ul {
  list-style-type:none;
  margin-top: 60px;
  padding: 10px;
  overflow: hidden;
  background-color: rgba(245, 225, 243, 0.904);
  box-shadow: 0 3px 20px 0 #0000003b;
}

.mainNav li {
  float:left;
}

.mainNav li a {
  display: block;
  color: rgb(26, 25, 25);
  font-family: 'Dancing Script', cursive;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.mainNav li a:hover:not(.active) {
  background-color: rgba(221, 179, 231, 0.884);
  transition: 0.7s;
}

/*footer*/

footer{
    
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(-70deg, #fa7c30 30%, rgba(0, 0, 0, 0) 30%), url('../images/bg9112.jpg');
  height: auto;
  width: 100%;
  font-family: 'Dancing Script', cursive;
  padding-top: 2.5px;
  color: #fff;}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  color: rgb(49, 3, 34);
  text-shadow: 3px 5px 10px rgb(204, 5, 171);
  
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.footer-bottom{
  background: rgb(34, 0, 23);
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p1 {
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
  
  /* Center website */
  .main {
    max-width: 1350px;
    margin: auto;
  }
  
  .main h2 {
    font-size: 50px;
    word-break: break-all;
  }

  .main .row {
    margin: 8px -16px;
  }
  
  /* Padding BETWEEN each column */
  .row,
  .row  .column {
    padding: 8px;
  }
  
  .column {
    float: left;
    width: 33.3333333%;
    
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .main .content {
    height: 600px;
    background-color:rgba(203, 203, 253, 0.637);
    border-radius: 50px;
    padding: 10px;
    color: rgb(0, 0, 0);
    size: 20px 20px;
  }
  .main .content img{
    border-radius: 50px;
  }
  
#customers {
    font-family: Comic Sans MS, Comic Sans, cursive;
    border-collapse: collapse;
    width: 80%;
    position:relative;
    margin: auto;
    border-radius: 50px;
    border-style: hidden;
    box-shadow: 0px 0px 10px black;
  }
  
  #customers td, #customers th {
    border: 1px solid rgb(87, 85, 85);
    padding: 8px;
    color: rgb(24, 23, 23);
  }
  
  #customers tr:nth-child(even){
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  }
  
  #customers tr:hover {background-color: rgba(245, 164, 153, 0.774);}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #683f02b9;
  }
  
  .container{
    margin-top: 30px;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 20px;
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    border: 1px;
    padding: 30px;
    box-shadow: 5px 10px 18px rgb(1, 26, 49);
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 18px;
    border-radius: 50px;
  }

  .container h2{
    color: rgb(207, 154, 154);
    text-shadow: 2px 5px 10px #010113e3;
}
  
.sans{
  color: rgb(207, 154, 154);
  text-shadow: 2px 5px 10px #010113e3;
  text-align: center;
  font-size: 50px;
}

/* Responsive layout */
@media screen and (max-width: 900px) {
  .column {
    width: 33.3333333%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 33.33333%;
  }
}

@media (max-width: 768px){
  .container{
    width: auto;
    margin: 0px;
  }
  
  .column {
    float: left;
    width: 50%;
    
  }
  .mainHeader{
    width: 100%;
  }  
}
@media only screen and (max-width: 590px) {
	.mainHeader
	{
		font-size:14px;
	}
  .header1 img {
    float: left;
    width: 70px;
    height: 50px;
    margin-left: 3px;
  }
	.header1
	{
		width:100%;
		float:left;
		text-align:center;
    font-size:8px;
	}
	.mainNav
	{
		width:100%;
		margin: 0 auto;
	}
	.mainNav ul
	{
		float:none;
		margin-right:0px;
	}
}

@media only screen and (max-width: 320px) {
	.mainHeader
	{
		font-size:12px;
	}
	.header1 h1
	{
		margin-bottom:1%;

	}
  .mainNav ul li
	{
		display:block;
	}
 }

 @media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table, thead, tbody, th, td, tr { 
		display: block; 
	}

  table, tbody, tr, td, img{
    width: 100%;
  }
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td {
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		position: absolute;
		
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
}