body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    background-image: url("../images/rr7.jpg");
    background-position: center;
    background-size: auto;
}
html,body{
overflow-x: hidden;
}
.mainHeader{
    
    background-size:auto;
    height: 247px;
    background: linear-gradient(-70deg, #fa7c30 30%, rgba(0, 0, 0, 0) 30%), url('../images/bg911.jpg');
    text-align: center;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}

.header1 img {
    float: left;
    width: 150px;
    height: 100px;
    margin-left: 70px;
   
  }
  
  .header1 h1 {
    position: relative;
    top: 50px;
    right: 90px;
    
  }
  

.mainNav ul {
    list-style-type:none;
    margin-top: 60px;
    padding: 10px;
    overflow: hidden;
    background-color: rgba(245, 225, 243, 0.904);
    box-shadow: 0 3px 20px 0 #0000003b;
  }
  
.mainNav li {
    float:left;
  }
  
.mainNav li a {
    display: block;
    color: rgb(26, 25, 25);
    font-family: 'Dancing Script', cursive;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.mainNav li a:hover:not(.active) {
    background-color: rgba(221, 179, 231, 0.884);
    transition: 0.7s;
  }

#box{
    display: flex;
    width: auto;
    margin: 5px;
    height:550px;
}

.container{
    display:flex;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 20px;
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    border: 1px;
    padding: 10px;
    box-shadow: 5px 10px 18px rgb(1, 26, 49);
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 18px;
    border-radius: 50px;
    
}
.container > div {
    flex-direction: column;
    margin: 10px;
    
}
.container div h2{
    text-align: center;
}
.container img{
    border-radius: 50px;
    margin: 10px;
    box-shadow: 5px 10px 18px rgba(1, 26, 49, 0.644);
    -moz-border-radius :25px;
    -webkit-border-radius:25px ;
    border-radius: 25px;
}
.container h2{
    color: rgb(228, 113, 20);
    text-shadow: 2px 5px 10px #6d6203e3;
}

.container p,li{
    color: rgb(92, 86, 86);
}

footer{
    
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(-70deg, #fa7c30 30%, rgba(0, 0, 0, 0) 30%), url('../images/bg9112.jpg');
    height: auto;
    width: 100%;
    font-family: 'Dancing Script', cursive;
    padding-top: 2.5px;
    color: #fff;}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    color: rgb(49, 3, 34);
    text-shadow: 3px 5px 10px rgb(204, 5, 171);
    
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.footer-bottom{
    background: rgb(34, 0, 23);
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p1 {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

/*Main Image slide show*/

#slider {
	overflow: hidden;
    margin: 10px;
}

@keyframes slider {
	0% { left: 0; }
	30% { left: 0; }
	33% { left: -100%; }
	63% { left: -100%; }
	66% { left: -200%; }
	95% { left: -200%; }
	100% { left: 0; }
}
#slider figure {
	width:300%;
	position: relative;
	animation: 9s slider infinite;   
}

#slider figure img {
    opacity: 80%;
	width: 33.333333333%;
	height : 100%;
	float: left;
    border-radius: 50px;
}

@media (max-width: 768px){
    
    .container{
        width: auto;
        margin: 0px;
        display: grid;
        float: none;
        margin-top: 0px;
    }
    #picCon2{
        width: 95%;
    }
    #slider figure{
        width: 300%;
        height: 300px;
        margin-bottom: 0px;
    }

    }
    @media only screen and (max-width: 590px) {
        .mainHeader
        {
            font-size:14px;
        }
      .header1 img {
        float: left;
        width: 70px;
        height: 50px;
        margin-left: 3px;
      }
        .header1
        {
            width:100%;
            float:left;
            text-align:center;
        font-size:8px;
        }
        .mainNav
        {
            width:100%;
            margin: 0 auto;
        }
        .mainNav ul
        {
            float:none;
            margin-right:0px;
        }
    }
    
    @media only screen and (max-width: 320px) {
        .mainHeader
        {
            font-size:12px;
        }
        .header1 h1
        {
            margin-bottom:1%;
    
        }
      .mainNav ul li
        {
            display:block;
        }
     }